<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <!--/*/ <th:block th:include="Fragments/HeaderInc :: head"></th:block> /*/-->
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h2>Opret Film</h2>
    <form action="#" th:action="@{/create}" method="post">
        <label for="inputname">Name of movie</label>
        <input type="text" th:field="${movies.name}" id="inputname" class="form-control" placeholder="Enter Movie Name">
        <label for="inputYear">Year</label>
        <input type="number" th:field="${movies.year}" id="inputYear" class="form-control" placeholder="Enter Year">
        <label for="inputduriaton">duriaton</label>
        <input type="number" th:field="${movies.duriaton}" id="inputduriaton" class="form-control" placeholder="Enter duriaton">
        <label for="inputGenre">Genre;</label>
        <input type="text" th:field="${movies.Genre}" id="inputGenre" class="form-control" placeholder="Enter Genre">
        <input class="btn btn-dark" type="submit" value="Send">
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>