<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <!--/*/ <th:block th:include="Fragments/HeaderInc :: head"></th:block> /*/-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <td>
                id
            </td>
            <td>
                Name
            </td>
            <td>
                Year
            </td>
            <td>
                Duriaton
            </td>
            <td>
                Genre
            </td>
            <td>
                Rating
            </td>
            <td>
                Votes
            </td>

        </tr>
        </thead>
        <tbody>
        <tr th:each="movies: ${movies}">
            <td th:text="${movies.id}"/>
            <td th:text="${movies.name}"/>
            <td th:text="${movies.year}"/>
            <td th:text="${movies.duriaton}"/>
            <td th:text="${movies.genre}"/>
            <td>
                <a th:href="${'rate/' + movies.id}">
                    <span th:text="${movies.rating}"></span>
                    <span class="fa fa-star"></span>
                </a>
            </td>
            <td th:text="${movies.votes}"/>
            <td>
                <a class="fa fa-eye" th:href="${'details/' + movies.id}"></a>
            </td>

        </tr>
        </tbody>
    </table>
    <div>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>