<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rate</title>
    <!--/*/ <th:block th:include="Fragments/HeaderInc :: head"></th:block> /*/-->
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h2>Opret Rating</h2>
    <form action="#" th:action="@{/rate}" method="post" th:object="${rating}">
        <input type="hidden" th:field="${rating.movie_id}"/>
        <input type="number" th:value="${''}" th:field="${rating.rating}" class="form-control" placeholder="Enter Rating from 1 to 5">
        <input class="btn btn-dark" type="submit" value="Send">
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>